.legalese {
  padding-inline-start: var(--space-md);
  padding-inline-end: var(--space-md);

  dt {
    font-weight: bold;
    display: inline;

    &::after {
      content: ': '
    }
  }

  dd {
    display: inline;
    margin-inline-start: 0;
  }
}
