:root {
  --color-vertical-rule: rgb(255 0 0 / 50%);
  --color-horizontal-rule: rgb(0 0 255 / 50%);
  --color-normal-text: rgb(0 0 0 / 65%);
  --color-heading-text: rgb(0 0 0);

  --normal-font-size: 24px;
  --descender-height: 0.25lh;
  --leading: 0.5lh;

  --gutter-width: 10rem;
  --header-height: 10rem;

  --space-sm: 4px;

  --vertical-rule-width: 3px;
  --vertical-rule: var(--vertical-rule-width) solid var(--color-vertical-rule);
  --gutter-gap: var(--space-sm);
}

body {
  font-family: "Handlee", cursive;
  font-weight: 400;
  font-style: normal;
  color: var(--color-normal-text);

  font-size: var(--normal-font-size);
}

p {
  padding-top: var(--leading);
}

.paper {
  padding: 0;
  margin: 0;
  background:
    url(/books/paper.svg);

  display: flex;
  flex-direction: column;
}

.paper__header {
  height: var(--header-height);
  border-bottom: 2px solid var(--color-horizontal-rule);

  display: flex;
  gap: var(--gutter-gap);
}

.header-gutter {
  width: var(--gutter-width);
  border-right: var(--vertical-rule);
}

.header-main {
  border-left: var(--vertical-rule);
  flex-grow: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 36px;
  }

}

.paper__content {
  --total-line-height: calc(1lh + var(--leading));
  background: repeating-linear-gradient(
    transparent,
    transparent calc(var(--total-line-height) - 2px),
    var(--color-horizontal-rule) calc(var(--total-line-height) - 2px),
    var(--color-horizontal-rule) calc(var(--total-line-height))
  );

  flex-grow: 1;

  display: flex;
  gap: var(--gutter-gap);
}

.content-gutter {
  padding-top: calc(var(--descender-height) * 0.5);

  width: var(--gutter-width);
  border-right: var(--vertical-rule);
}

.content-main {
  padding-top: calc(var(--descender-height) * 0.5);

  border-left: var(--vertical-rule);
  flex-grow: 1;
}

.table {
  width: 100%;

  -webkit-border-vertical-spacing: 0;
  -webkit-border-horizontal-spacing: 0;

  th, td {
    text-align: left;
    padding: var(--leading) var(--space-sm) 0;
    border: none;
  }

  th {
    color: var(--color-heading-text);
  }

  &.table--with-gutter {
    margin-left: calc(-1 * (var(--gutter-width) + var(--vertical-rule-width) * 2 + var(--gutter-gap)));
  }

  &.table--top-of-page {
    margin-top: calc(-1 * (1lh + var(--leading) + var(--descender-height) * 0.5));

    th {
      padding-bottom: calc(var(--descender-height) * 0.5);
    }
  }

  .table__actions {
    padding: 0;
  }

  .gutter-column {
    width: calc(var(--gutter-width) + var(--vertical-rule-width) * 2 + var(--gutter-gap));
    text-align: right;
    padding-right: calc(var(--vertical-rule-width) * 2 + var(--gutter-gap) + var(--space-sm));
  }
}
