:root {
  --color-vertical-rule: rgb(255 0 0 / 50%);
  --color-horizontal-rule: rgb(0 0 255 / 50%);
  --color-heading-text: rgb(0 0 0);
  --color-normal-text: rgb(0 0 0 / 65%);
  --color-faded-text: rgb(0 0 0 / 45%);

  --base-unit: 8px;
  --normal-font-size: calc(var(--base-unit) * 3);
  --small-font-size: calc(var(--base-unit) * 2);
  --descender-height: 0.25lh;
  --leading: 0.5lh;

  --header-height: 3lh;

  --space-sm: calc(var(--base-unit) / 2);
  --space-md: var(--base-unit);

  --text-padding-start: 0.9lh;
  --text-padding-end: 0.1lh;

  @media (max-width: 750px) {
    --base-unit: 7px;
  }
}

label {
  line-height: 1.5;
}

input[type=text], input[type="date"] {
  line-height: 1.5;
  height: 1lh;
}

body {
  font-family: "Handlee", cursive;
  font-weight: 400;
  font-style: normal;
  color: var(--color-normal-text);

  font-size: var(--normal-font-size);

  line-height: 1.5;
}

p {
  padding-block-start: var(--text-padding-start);
  padding-block-end: var(--text-padding-end);
}

ul {
  margin: 0;
  padding-block-start: var(--text-padding-start);
  padding-block-end: var(--text-padding-end);

  p + & {
    margin-block-start: calc(-1 * var(--text-padding-end));
    padding-block-start: 0;
  }
}

h1 {
  font-size: calc(var(--normal-font-size) * 1.75);
  padding-block-start: var(--descender-height);
  color: var(--color-heading-text);
}

h2 {
  font-size: calc(var(--normal-font-size) * 1.5);
  padding-block-start: var(--text-padding-start);
  padding-block-end: var(--text-padding-end);
  color: var(--color-heading-text);
}

.login-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.paper {
  flex-grow: 1;

  padding-left: var(--space-md);
  padding-right: var(--space-md);
  margin: 0;
  --total-line-height: 1lh;
  background:
    repeating-linear-gradient(
      transparent,
      transparent calc(1lh - 2px),
      var(--color-horizontal-rule) calc(1lh - 2px),
      var(--color-horizontal-rule) 1lh
    ),
    url(/books/paper.svg),
    white;

  display: flex;
  flex-direction: column;
  gap: 1lh;

  .paper__content {
    flex-grow: 1;

    display: flex;
    gap: var(--space-sm);
  }

  .paper__header {
    margin-top: 1lh;
    height: var(--header-height);
    display: flex;
    gap: var(--space-sm);
  }

  .paper__footer {
    display: flex;
    justify-content: space-between;
    gap: var(--space-sm);
  }
}

}

.header-main {
  flex-grow: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}

.header-right {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}

.fine-print {
  font-size: var(--small-font-size);
  color: var(--color-normal-text);
}

.content-main {
  flex-grow: 1;
  flex-shrink: 1;
  overflow-x: visible;
  padding-block-start: var(--descender-height);
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);

  &.form-group--inline {
    flex-direction: row;
  }
}

.form-control {
  font-size: var(--normal-font-size);

  border: none;
  background: none;

  border-bottom: 1px solid var(--color-normal-text);

  padding: 0;

  outline: none;
}

.table {
  width: 100%;

  -webkit-border-vertical-spacing: 0;
  -webkit-border-horizontal-spacing: 0;

  .form-label {
    display: none;
  }

  .form-control {
    width: 100%;
  }

  th, td {
    text-align: left;
    padding: 0 var(--space-md);
    border: none;
    vertical-align: top;
  }

  th {
    color: var(--color-heading-text);
  }

  .table__actions {
    padding: 0;
  }
}
