:root {
  --color-vertical-rule: rgb(255 0 0 / 50%);
  --color-horizontal-rule: rgb(0 0 255 / 50%);
  --color-normal-text: rgb(0 0 0 / 65%);
  --color-heading-text: rgb(0 0 0);

  --normal-font-size: 24px;
  --small-font-size: 16px;
  --descender-height: 0.25lh;
  --leading: 0.5lh;

  --gutter-width: 12rem;
  --header-height: 12rem;

  --space-sm: 4px;
  --space-md: 8px;

  --vertical-rule-width: 3px;
  --vertical-rule: var(--vertical-rule-width) solid var(--color-vertical-rule);
  --gutter-gap: var(--space-sm);
}

body {
  font-family: "Handlee", cursive;
  font-weight: 400;
  font-style: normal;
  color: var(--color-normal-text);

  font-size: var(--normal-font-size);

  line-height: 1.5;
}

p {
  padding-top: calc(var(--leading) * 2);
}

ul {
  margin: 0;
  padding-block-start: calc(var(--leading) * 2);
}

.login-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.paper {
  padding: 0;
  margin: 0;
  background:
    url(/books/paper.svg);

  display: flex;
  flex-direction: column;
}

.paper__header {
  height: var(--header-height);
  box-shadow: 0 2px 0 var(--color-horizontal-rule);

  display: flex;
  gap: var(--gutter-gap);
}

.header-gutter {
  width: var(--gutter-width);
  border-right: var(--vertical-rule);
}

.header-main {
  border-left: var(--vertical-rule);
  flex-grow: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 36px;
  }

}

.header-right {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}

.fine-print-link {
  font-size: var(--small-font-size);
  color: var(--color-normal-text);
}

.paper__content {
  --total-line-height: 1lh;
  background: repeating-linear-gradient(
    transparent,
    transparent calc(var(--total-line-height) - 2px),
    var(--color-horizontal-rule) calc(var(--total-line-height) - 2px),
    var(--color-horizontal-rule) calc(var(--total-line-height))
  );

  flex-grow: 1;

  display: flex;
  gap: var(--gutter-gap);
}

.content-gutter {
  padding-top: calc(var(--descender-height) * 0.5);

  width: var(--gutter-width);
  border-right: var(--vertical-rule);

  flex-shrink: 0;
}

.content-main {
  padding-top: calc(var(--descender-height) * 0.5);

  border-left: var(--vertical-rule);
  flex-grow: 1;
  flex-shrink: 1;
  overflow-x: visible;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}

.form-control {
  font-size: var(--normal-font-size);

  border: none;
  background: none;

  border-bottom: 1px solid var(--color-normal-text);

  padding: 0;

  outline: none;
}

.table {
  width: 100%;

  -webkit-border-vertical-spacing: 0;
  -webkit-border-horizontal-spacing: 0;

  .form-label {
    display: none;
  }

  .form-control {
    width: 100%;
  }

  th, td {
    text-align: left;
    padding: 0 var(--space-md);
    border: none;
    vertical-align: top;
  }

  th {
    color: var(--color-heading-text);
  }

  &.table--with-gutter {
    --gutter-offset: calc(-1 * (var(--gutter-width) + var(--vertical-rule-width) * 2 + var(--gutter-gap)));
    margin-left: var(--gutter-offset);
    width: calc(100% - var(--gutter-offset));
  }

  &.table--top-of-page {
    margin-top: -1lh;

    th {
      padding-bottom: calc(var(--descender-height) * 0.5);
    }
  }

  .table__actions {
    padding: 0;
  }

  .gutter-column {
    width: calc(var(--gutter-width) + var(--vertical-rule-width) * 2 + var(--gutter-gap));
    text-align: right;
    padding-right: calc(var(--vertical-rule-width) * 2 + var(--gutter-gap) + var(--space-md));
  }
}
