= content_for :header_gutter do
  = link_to "Home", root_path
= content_for :header do
  h1 Account Settings
= button_to "Delete my account",
  account_path,
  method: :delete,
  class: "btn btn--danger",
  form: { id: "delete_account_form" },
  data: {\
    turbo_confirm: "Are you sure you want to delete your account?",
    confirm_details: render("confirm_account_deletion"),
    confirm_button: "I understand, delete my account"}
